.door-shadow
  width       7.5*GS
  height      99.5%
  position    absolute
  transform   translateX(-7.4*GS) translateY(-50%)
  &__el
    background        rgba(0,0,0,.15)
    position          absolute
    transform         scaleX(0)
    transform-origin  100% center
    rect              100%
    border-bottom-left-radius BRADIUS