@import './door'
@import './door-shadow'
@import './door-handle'
@import './mole'

.mole-scene
  position  absolute
  left      50%
  top       50%
  margin-left -106*PX
  &__ground
    background #664001
    position   absolute
    z-index    0
    width      211*PX
    height     211*PX
    border-top-right-radius    BRADIUS + .3
    border-bottom-right-radius BRADIUS
    transform  rotateX(68deg) rotateZ(48deg) translateX(-8.3*GS) translateY(-13.6*GS) translateZ(-2px)
    top -4*GS
    // background url('../i/mole-ground.svg')
  &__door
    top         -3.56*GS
    transform   rotateX(68deg) rotateZ(48deg) translateX(-12.2*GS) translateY(-11.6*GS)
    transform-origin 0% 50%
    position     absolute
    z-index      1
    transform-style preserve-3d
    rect         209*PX
  &__door-wave
    // border 5px solid white
    width  120px
    height 120px
    position absolute
    z-index  12
    left  0
    top   0
    border-radius 20px
    opacity       0
    background white
    transform scale(0) translateZ(0)
  &__door-wave-wrapper
    position absolute
    transform rotateX(70deg) rotateZ(48deg) translate(35px, -180px)
    z-index 6
    opacity .75 
  &__door-rotation
    // display none
    // transition   all 1s linear
    transform    translateX(8px) translateY(8px)
    transform-origin 0% 50%
    transform-style preserve-3d
  &__mask
    position absolute
    top 0*PX
    left -6*PX
    // outline 1px solid
    width   306*PX
    height  673*PX
    background url('../i/mole-mask.svg')
    // background-position 0 14px
    // display none
    z-index 2
  &__mole
    position  absolute
    z-index   2
    top       6*GS
    // top      -17*GS
    left      5*GS
    
    
