.mole
  width  204*PX
  height 274*PX
  // outline 1px solid
  &__head
    width       172*PX
    height      116*PX
    background  url('../i/mole-head.svg')
    position    absolute
    top         2*GS
    left        .4*GS
    z-index     1
  &__glasses
    width       118*PX
    height      55*PX
    position    absolute
    top         2.3*GS
    left        2.6*GS
    background  url('../i/mole-glasses.svg')
    z-index     1
  &__glasses-left
    width       17*PX
    height      27*PX
    background  url('../i/mole-glasses-left.svg')
    position    absolute
    z-index     -1
    right       4.7*GS
    top         2.4*GS
  &__eye
    width       11*PX
    height      4.5*PX
    position    absolute
    left        8.6*GS
    top         4.7*GS
    z-index     2
    // outline 1px solid deeppink
  &__body
    width       164*PX
    height      182*PX
    position    absolute
    bottom      0
    background  url('../i/mole-body.svg')
    transform-origin left top
  &__mouth
    background  #3A3535
    position    absolute
    right       3.2*GS
    top         7.5*GS
    circle      20*PX
    transform   rotate(20deg)
    border-top-right-radius 0
    overflow    hidden
    
    // circle      4*PX
    // border-top-right-radius 0
    // right       4*GS
    // top         8*GS


  &__mouth-inner
    background  #C9544A
    position    absolute
    left       -.3*GS
    top         GS
    circle      15*PX
  &__hat
    width       71*PX
    height      105*PX
    position    absolute
    z-index     2
    left        2.6*GS
    top        -1.4*GS
    opacity     0
  
  &__hat-base
    width       36*PX
    height      25*PX
    position    absolute
    z-index     2
    left        5.8*GS
    top         .1*GS
    background  url('../i/mole-hat-base.svg')
    // opacity .5
  &__hat-cone
    width       27*PX
    height      76*PX
    position    absolute
    z-index     2
    left       -1.2*GS
    top        -.4*GS
    // opacity 0
    background  url('../i/mole-hat-cone.svg')
    transform   rotateX(40deg) rotateY(-28deg) rotateZ(15deg) translateX(4px)
    
  &__hand
    width       54*PX
    height      102*PX
    background  url('../i/mole-hand.svg')
    position    absolute
    z-index     2
    top         10.6*GS
    left        1.6*GS
  &__hand-left
    width       79*PX
    height      106*PX
    background  url('../i/mole-hand-left.svg')
    position    absolute
    z-index    -1
    left        12.4*GS
    top         7*GS
    
    
  
