.mole
  width  204*PX
  height 274*PX
  // outline 1px solid
  &__head
    width       172*PX
    height      116*PX
    background  url('../i/mole-head.svg')
    position    absolute
    top         2*GS
    left        .4*GS
    z-index     1
  &__glasses
    width       118*PX
    height      55*PX
    position    absolute
    top         2.3*GS
    left        2.6*GS
    background  url('../i/mole-glasses.svg')
    z-index     3
  &__glasses-left
    width       17*PX
    height      27*PX
    background  url('../i/mole-glasses-left.svg')
    position    absolute
    z-index     -1
    right       4.7*GS
    top         2.4*GS
  &__eye
    width       11*PX
    height      4.5*PX
    position    absolute
    left        8.6*GS
    top         4.7*GS
    z-index     4
    // outline 1px solid deeppink
  &__body
    width       164*PX
    height      182*PX
    position    absolute
    bottom      0
    background  url('../i/mole-body.svg')
    transform-origin left top
  &__inner
    position absolute
    rect 100%
    transform-origin center bottom
  
  &__mouth-wrapper
    position    absolute
    right       3.2*GS
    top         7.4*GS
    // outline     1px solid red
    circle      20*PX
  &__mouth
    position    absolute
    background  #3A3535
    circle      20*PX
    border-top-right-radius 0
    overflow    hidden
    transform   rotate(20deg)
  &__mouth-inner
    background  #C9544A
    position    absolute
    left       -.3*GS
    top         GS
    circle      15*PX
  &__hat
    width       71*PX
    height      105*PX
    position    absolute
    z-index     2
    left        2.6*GS
    top        -1.4*GS
    opacity     0
  &__hat-base
    width       36*PX
    height      25*PX
    position    absolute
    z-index     2
    left        5.8*GS
    top         .1*GS
    background  url('../i/mole-hat-base.svg')
    // opacity .5
  
  &__hat-cone
    width       27*PX
    height      79*PX
    position    absolute
    z-index     2
    left        -1.2*GS
    top         -.4*GS
    background  url('../i/mole-hat-cone.svg') no-repeat
    transform   rotateX(40deg) rotateY(-28deg) rotateZ(16deg) translateX(4px)
  &__hat-cone-wrapper
    position    absolute
    z-index     5
    width       36*PX
    height      25*PX
    left        5.8*GS
    top         .1*GS
  &__hat-cone-rotator
    transform-origin center top 2px
    
  &__hat-shadow
    width       22*PX
    height      23*PX
    position    absolute
    z-index     0
    left        .1*GS
    top         .2*GS
    opacity     1
    background  url('../i/mole-hat-shadow.svg')
    transform-origin left center
    transform   translateX(4px) translateY(4px)
  &__hand
    width       54*PX
    height      102*PX
    background  url('../i/mole-hand.svg')
    position    absolute
    z-index     5
    top         10.6*GS
    left        1.6*GS
    transform-origin top center
  &__hand-left
    width       79*PX
    height      106*PX
    background  url('../i/mole-hand-left.svg')
    position    absolute
    z-index    -1
    left        12.4*GS
    top         7*GS

.mole-mouth
  position  absolute
  width     25*PX
  height    25*PX
  // left      200%
  right     15*PX
  top       68*PX
  z-index   2
  border-radius 50%
  overflow hidden
  // border 1px solid cyan
  &__inner
    position absolute
    width     15*PX
    left      -16*PX
    top       10*PX
        
    
  
