PX = (1/16)rem
GS = 10*PX
BRADIUS = 8*PX

{el = '.tutorial-link'}
  position fixed
  color white
  bottom 20*PX
  right  20*PX
  font-size 10*PX
  font-family sans-serif
  text-decoration none
  padding-left 30*PX
  letter-spacing 1.5*PX
  &:hover
    opacity .85
    {el}__logo
      path
        fill #F34246
  &__logo
    width 24*PX
    height 24*PX
    position absolute
    right 10*PX
    top -32*PX
    // display none
    svg
      width 100%
      height 100%
    path
      fill #F35D5C


c-main-background = #50E3C2
rect()
  width  arguments
  height arguments
circle()
  border-radius 50%
  rect arguments

body {
  paddding:     0;
  margin:       0;
  background:   c-main-background;
  font-size:    16px;
  height: 100%;
  overflow hidden
}

squareSize = 100;
.square {
  width:  (squareSize)px;
  height: (squareSize)px;
  background: cyan;
  position: absolute;
  left: 50%;
  margin-left: -(squareSize/2)px;
  top: 50px;
  z-index: 1;
}

.shadow-wrapper {
  transform: rotateX(70deg);
  width:  (squareSize)px;
  height: (squareSize)px;
  position: absolute;
  z-index: 0;
  // top:  (500+squareSize)px;
  // left: 50%;
  margin-left: (squareSize)px;
}

.shadow {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.cube-wrapper {
  // perspective:  500px;
  // transform-style: preserve-3d;
  // backface-visibility: hidden;
  // transform: translateZ(150px)
  // perspective-origin: 50% 10%;
  z-index: 10;
  // border: 1px solid deeppink;
  position: absolute;
  width: (squareSize)px;
  height: (squareSize)px;
  left: 50%;
  margin-left: (squareSize)px;
  top: -(squareSize)px;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateY(45deg) rotateX(-15deg) rotateZ(-15deg);
  z-index: 1;
  font-size: 0;
  &__squash {
    // outline: 100px solid orange;
    transform-origin: center (squareSize)px;
  }
}

.cube__side {
  position: absolute;
  width: (squareSize)px;
  height: (squareSize)px;
  background: white;
  border-radius: 10px;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  &--back {
    transform: translateZ(-(squareSize/2)px) rotateY(180deg);
  }
  &--right {
    transform: rotateY(-270deg) translateX((squareSize/2)px);
    transform-origin: top right;
  }
  &--left {
    transform: rotateY(270deg) translateX(-(squareSize/2)px);
    transform-origin: center left;
  }
  &--top {
    transform: rotateX(-90deg) translateY(-(squareSize/2)px);
    transform-origin: top center;
    &:after{
      background: rgba(0,0,0,.02);
    }
  }
  &--bottom {
    transform: rotateX(90deg) translateY((squareSize/2)px);
    transform-origin: bottom center;
  }
  &--front {
    transform: translateZ((squareSize/2)px);
    &:after{
      background: rgba(0,0,0,.05);
    }
  }
}

shadowSize = squareSize+7;
.cube-shadow-wrapper {
  transform-style: preserve-3d;
  width: (shadowSize)px;
  height: (shadowSize)px;
  position: absolute;
  left: 50%;
  margin-left: -(shadowSize/2)px;
  top: (.42*squareSize)px;
  z-index: 0;
  transform: rotateX(112deg) rotateZ(45deg);
}

.transit {
 transform: rotateX(127.5deg) rotateZ(46deg) !important;
}

.cube-shadow {
  background: rgba(0,0,0,.25);
  width:  100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
}

@import './mole-scene'

