
body {
  paddding:     0;
  margin:       0;
  background:   #50E3C2;
}

squareSize = 100;
.square {
  width:  (squareSize)px;
  height: (squareSize)px;
  background: cyan;
  position: absolute;
  left: 50%;
  margin-left: -(squareSize/2)px;
  top: 50px;
  z-index: 1;
}

.shadow-wrapper {
  transform: rotateX(70deg);
  width:  (squareSize)px;
  height: (squareSize)px;
  position: absolute;
  z-index: 0;
  top:  (500+squareSize)px;
  left: 50%;
  margin-left: -(squareSize/2)px;
}

.shadow {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.cube-wrapper {
  perspective:  500px;
  // transform-style: preserve-3d;
  // backface-visibility: hidden;
  // transform: translateZ(150px)
  perspective-origin: 50% 10%;
  border: 1px solid deeppink;
  position: absolute;
  width: (squareSize)px;
  height: (squareSize)px;
  left: 50%;
  margin-left: -(squareSize/2)px;
  top: -(1.2*squareSize)px;
}

.cube {
  transform-style: preserve-3d;
  transform: rotateY(45deg) rotateX(-15deg) rotateZ(-15deg);
  z-index: 1;
  font-size: 0;
}

.cube__side {
  position: absolute;
  width: (squareSize)px;
  height: (squareSize)px;
  background: white;
  border-radius: 10px;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  &--back {
    transform: translateZ(-(squareSize/2)px) rotateY(180deg);
  }
  &--right {
    transform: rotateY(-270deg) translateX((squareSize/2)px);
    transform-origin: top right;
  }
  &--left {
    transform: rotateY(270deg) translateX(-(squareSize/2)px);
    transform-origin: center left;
  }
  &--top {
    transform: rotateX(-90deg) translateY(-(squareSize/2)px);
    transform-origin: top center;
    &:after{
      background: rgba(0,0,0,.02);
    }
    // background: red;
  }
  &--bottom {
    transform: rotateX(90deg) translateY((squareSize/2)px);
    transform-origin: bottom center;
  }
  &--front {
    transform: translateZ((squareSize/2)px);
    &:after{
      background: rgba(0,0,0,.05);
    }
  }
}

shadowSize = squareSize+7;
.cube-shadow-wrapper {
  transform-style: preserve-3d;
  width: (shadowSize)px;
  height: (shadowSize)px;
  position: absolute;
  left: 50%;
  margin-left: -(shadowSize/2)px;
  top: (500+(shadowSize/2) - 12)px;
  z-index: 0;
  transform: rotateX(127.5deg) rotateZ(46deg);
}

.transit {
 transform: rotateX(127.5deg) rotateZ(46deg) !important;
}

.cube-shadow {
  background: rgba(0,0,0,.25);
  width:  100%;
  height: 100%;
  border-radius: 10px;
  opacity: 0;
}

